* {
    margin: 0;
}
canvas {
    display: block;
    width: 100vh;
    height: 100vh;

    image-rendering: pixelated;

    background-color: #000;
    float: left;
}

#settings {
    float: right;
    width: calc(100vw - 100vh);
    height: 100vh;
    padding: 1%;
    box-sizing: border-box;
}

#settings p {
    margin: 0;
    display: inline;
    vertical-align: top;
}

#settings input, select {
    display: inline;

    width: 50%;

    margin-bottom: 2%;
}