* {
    margin: 0;
}

canvas {
    display: block;
    width: 100vh;
    height: 100vh;

    background-color: #000;
    float: left;

    touch-action: none;
}

#settings {
    float: right;
    width: calc(100vw - 102vh);
    padding: 1vh;
    box-sizing: border-box;
}

#settings p {
    margin: 0;
    display: inline;
    vertical-align: top;
}

#settings select {
    width: 100%;
}

#settings input[type="range"] {
    width: calc(100% - 5em);
    min-width: 100px;
}

#settings input, select {
    display: inline;

    margin-bottom: 1%;
}

#credits {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: calc(100vw - 100vh);
}

#credits a {
    color: #A55;
    text-decoration: none;

    font-weight: bold;
}

#credits p {
    margin-bottom: 2px;
    padding-right: 1%;


    font-size: 0.8em;
    text-align: right;
    display: block;
}